[submodule "bundle/sensible"]
	path = pack/bundle/start/sensible
	url = https://github.com/tpope/vim-sensible.git
  ignore = dirty
[submodule "bundle/surround"]
	path = pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "bundle/unimpaired"]
	path = pack/bundle/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
  ignore = dirty
[submodule "bundle/repeat"]
	path = pack/bundle/start/repeat
	url = https://github.com/tpope/vim-repeat.git
  ignore = dirty
[submodule "bundle/commentary"]
	path = pack/bundle/start/commentary
	url = https://github.com/tpope/vim-commentary.git
  ignore = dirty
[submodule "bundle/lightline"]
	path = pack/bundle/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
  ignore = dirty
[submodule "bundle/gitgutter"]
	path = pack/bundle/start/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
  ignore = dirty
[submodule "bundle/vim-javascript"]
	path = pack/bundle/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
  ignore = dirty
[submodule "bundle/vim-json"]
	path = pack/bundle/start/vim-json
	url = https://github.com/elzr/vim-json.git
  ignore = dirty
[submodule "bundle/vim-jsx"]
	path = pack/bundle/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
  ignore = dirty
[submodule "bundle/fugitive"]
	path = pack/bundle/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "bundle/vim-gnupg"]
	path = pack/bundle/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule "bundle/ctrlp"]
	path = pack/bundle/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
  ignore = dirty
[submodule "bundle/vim-ruby"]
	path = pack/bundle/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
  ignore = dirty
[submodule "bundle/vim-css3"]
	path = pack/bundle/start/vim-css3
	url = https://github.com/hail2u/vim-css3-syntax.git
  ignore = dirty
[submodule "bundle/tmux"]
	path = pack/bundle/start/tmux
	url = https://github.com/ericpruitt/tmux.vim
  ignore = dirty
[submodule "bundle/splitjoin"]
	path = pack/bundle/start/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
  ignore = dirty
[submodule "bundle/ale"]
	path = pack/bundle/start/ale
	url = https://github.com/w0rp/ale
  ignore = dirty
[submodule "pack/bundle/start/is"]
	path = pack/bundle/start/is
	url = https://github.com/haya14busa/is.vim.git
  ignore = dirty
[submodule "pack/bundle/start/space-vim-dark"]
	path = pack/bundle/start/space-vim-dark
	url = https://github.com/liuchengxu/space-vim-dark.git
  ignore = dirty
[submodule "pack/bundle/start/apprentice"]
	path = pack/bundle/start/apprentice
	url = https://github.com/romainl/Apprentice.git
  ignore = dirty
[submodule "pack/bundle/start/vim-atom-dark"]
	path = pack/bundle/start/vim-atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark.git
  ignore = dirty
[submodule "pack/bundle/start/vim-one"]
	path = pack/bundle/start/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule "pack/bundle/start/glsl.vim"]
	path = pack/bundle/start/glsl.vim
	url = https://github.com/beyondmarc/glsl.vim
[submodule "pack/bundle/opt/vim-coffee-script"]
	path = pack/bundle/opt/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "pack/bundle/start/zenbones"]
	path = pack/bundle/start/zenbones
	url = git@github.com:mcchrish/zenbones.nvim
[submodule "pack/bundle/start/vim-yin-yang"]
	path = pack/bundle/start/vim-yin-yang
	url = git@github.com:pgdouyon/vim-yin-yang
[submodule "pack/bundle/start/vim-colors-pencil"]
	path = pack/bundle/start/vim-colors-pencil
	url = git@github.com:preservim/vim-colors-pencil
[submodule "pack/bundle/start/yui"]
	path = pack/bundle/start/yui
	url = git@github.com:cideM/yui
